* {
  padding: 0%;
  margin: 0%;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white; }

h1 {
  text-align: center;
  color: white;
  background-color: rosybrown;
  margin-top: 0%;
  font-size: 18px; }

h2 {
  text-align: center;
  color: black;
  font-size: 15px; }

h3 {
  background-color: rosybrown;
  margin-top: 0px;
  margin-bottom: 0%;
  padding: 30px;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center; }

.header img {
  background-color: pink;
  margin: auto; }

.header nav .a-color {
  color: rosybrown;
  text-decoration: none; }
  .header nav .a-colora:hover {
    color: rosybrown;
    text-align: center; }

@keyframes animacion-h3 {
  0% {
    font-size: 14px; }
  25% {
    font-size: 16px; } }

.header div.anima-h3 {
  height: 20px;
  margin-bottom: 40px; }
  .header div.anima-h3 h3 .animacion {
    animation-name: animacion-h3;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-duration: 5s; }

.header div.espaciado {
  margin: margin 3rem;
  margin-bottom: 0%; }

.header .mapget {
  background-color: white;
  color: #d18c8c;
  text-align: center;
  padding: 1rem;
  margin: 0px; }

@media screen and (max-width: 576px) {
  body {
    background-color: white; } }

.link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin: margin 3rem; }

.nosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "img1 text img2"; }

.img1 {
  grid-area: img1;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100px; }

.text {
  margin-top: 30px;
  margin-bottom: 20px;
  grid-area: text;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px; }

.img2 {
  grid-area: img2;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 200px; }

@media screen and (max-width: 576px) {
  body {
    background-color: white; }
  .nosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "text" "img1" "img2";
    margin: 20px; }
  .img1 {
    grid-area: img1;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 100px; }
  .img2 {
    grid-area: img2;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px; }
  .text {
    margin-top: 30px;
    margin-bottom: 20px;
    grid-area: text;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px; } }

.title-contact {
  background-color: white;
  color: black;
  font-size: 30px;
  padding-top: 30px; }

.center {
  margin-top: 30px;
  text-align: center; }

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, fr);
  grid-template-areas: "datos redes"; }

.datos {
  grid-area: datos; }

.redes {
  grid-area: redes; }

.link {
  text-decoration: none;
  color: black; }

.link:hover {
  color: black; }

@media screen and (max-width: 576px) {
  body {
    background-color: white; }
  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rosybrown;
    color: white;
    grid-template-areas: "datos " "redes"; }
  .datos {
    grid-area: datos; }
  .redes {
    grid-area: redes; } }

.color-form {
  color: black; }

.btn-color {
  background-color: rosybrown; }

.btn:hover {
  background-color: rosybrown; }

.btn-text {
  color: white; }

footer {
  margin-top: 30px;
  text-align: center; }
  footer .footerp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "envios compra pagos";
    padding-top: 10px;
    background-color: rosybrown; }

.envios {
  grid-area: envios; }

.compra {
  grid-area: compra; }

.pagos {
  grid-area: pagos; }

@media screen and (max-width: 420px) {
  footer {
    margin-top: 20px;
    text-align: center; }
    footer .footerp {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: "envios compra pagos";
      padding-top: 10px;
      background-color: rosybrown; }
  .envios {
    grid-area: envios; }
  .compra {
    grid-area: compra; }
  .pagos {
    grid-area: pagos; } }
