
    img {
        background-color: pink;
        margin: auto;
    }
    
        .a-link{
        color: black;
        text-decoration: none;}
        .a-link:hover {
            background-color: lightgray;
            text-decoration: none;
        }

       
    div {
        @keyframes animacion-h3 {
            0% {font-size: 14px; }
            25% {font-size: 14.5px;}
            }
            &.anima-h3 {
                height: 20px;
                margin-bottom: 40px;
            
            h3 .animacion {
                    animation-name: animacion-h3;
                    animation-iteration-count: infinite;
                    animation-delay: 3s;
                    animation-duration: 5s;
                    
            }
        }
    }
    div {
        &.espaciado {
            margin: $espaciado-top;
            margin-bottom: 0%;
        }
        }
        
    
        .mapget {
            background-color:map-get($estilos1, colores);
            color:map-get($estilos1, color);
            text-align: map-get($estilos1, centro);
            padding: map-get($estilos1, 1rem);
            margin: map-get($estilos1, espaciado);
            
            
            
        }
    

    @media screen and (max-width: 576px) {
        body {
            background-color: rgb(255, 255, 255);
        }
        
    }
