.nosotros {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "img1 text img2";
}

.img1 {
grid-area: img1;
display: flex;
justify-content:center;
width: 500px;
height: 100px;
}
.text {
    margin-top: 30px;
    margin-bottom: 20px;
    grid-area: text;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
    
}
.img2 {
    grid-area: img2;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    }
    