* {
    padding: 0%;
    margin: 0%;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
h1 {
    text-align: center;
    color: white;
    background-color: rosybrown;
    margin-top: 0%;
    font-size: 18px;
} 

h2 {
    text-align: center;
    color: black;
    font-size: 15px;
}

h3 {
    background-color: rosybrown;
    margin-bottom: 0%;
    padding: 20px;
    font-size: 15px;
    color:white;
    display: flex;
    justify-content: center;
}