* {
    padding: 0%;
    margin: 0%;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
h1 {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, white,  rosybrown,  rosybrown,  rosybrown, white);
    padding: 10px;
    font-size: 20px;
    
} 

h2 {
    text-align: center;
    color: black;
    font-size: 20px;
}

h3 {
    background-color: rosybrown;
    margin-top: 0px;
    margin-bottom: 0%;
    padding: 30px;
    font-size: 20px;
    color:white;
    display: flex;
    justify-content: center;
}