$color:black; 
$espaciado-bottom: margin 2rem;
$espaciado-top: margin 3rem;

$estilos1: 
        ( colores: rosybrown, 
        color: rgb(209, 140, 140) , 
        centro: center, 
        fuente: 20px, 
        1rem: 1rem,
        espaciado: 0px,
        );

        .btn-center {
                display: flex;
                justify-content: center;
                text-align: center;
                width: 50%;
                margin-left: 25%;
                
        }
        .a-btn {
                text-decoration: none;
                
                color: black;
        }