$color:black; 
$espaciado-bottom: margin .05rem;
$espaciado-top: margin 3rem;

$estilos1: 
        ( colores: rgb(151, 89, 99), 
        color: black, 
        centro: center, 
        fuente: 20px, 
        2rem: 2rem,
        );