$color:black; 
$espaciado-bottom: margin 2rem;
$espaciado-top: margin 3rem;

$estilos1: 
        ( colores: white, 
        color: rgb(209, 140, 140) , 
        centro: center, 
        fuente: 20px, 
        1rem: 1rem,
        espaciado: 0px,
        );