.title-contact {
background-color: white;
color: black;
font-size: 30px;
padding-top: 30px;
}

.center{
    margin-top: 30px;
    text-align: center;
}
.contact-info {
    display: grid;
    grid-template-columns: repeat(2,fr);
    grid-template-areas: 
    "datos redes";
}


.datos {
    grid-area: datos;
}
.redes {
    grid-area: redes;
}

.link{
    text-decoration: none;
    color: black;
    
}
.link:hover {
    color: black;
}
@media screen and (max-width: 576px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .contact-info {
        display: grid;
        grid-template-columns: 1fr;
        background-color: rosybrown;
        color: white;
        grid-template-areas: 
        "datos "
        "redes";
        
    }
    .datos {
        grid-area: datos;
    }
    .redes {
        grid-area: redes;
    }
    
}