
.center{
    /* margin-top: 30px; */
    text-align: center;
}


.datos {
    grid-area: datos;
}
.redes {
    grid-area: redes;
}

.linkk{
    text-decoration: none;
    color: rosybrown;
    
}
.linkk:hover {
    color: lightgray;
}

.margen-contacto {
    margin-top: 60px;
}
@media screen and (max-width: 576px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .contact-info {
        display: grid;
        grid-template-columns: 1fr;
        background-color: rosybrown;
        color: white;
        grid-template-areas: 
        "datos "
        "redes";
        
    }
    .datos {
        grid-area: datos;
    }
    .redes {
        grid-area: redes;
    }
    
}